.deco-image {
  --deco-scale: 1.3;
  position: fixed;
  bottom: -108px;
  right: 77px;
  z-index: 5;
  width: 334px;
  height: auto;
  transform: rotate(349deg) scale(var(--deco-scale));
  transform-origin: bottom center;
  cursor: pointer;
  transition:
    transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    bottom 0.3s,
    right 0.3s;
}

.deco-image:hover {
  transform: rotate(349deg) scale(var(--deco-scale)) translateY(-77px);
}

.deco-image:active {
  transform: rotate(349deg) scale(calc(var(--deco-scale) * 1.15))
    translateY(-77px);
  transition: transform 0.1s;
}

#settings-screen:not(.hidden) ~ .deco-image {
  display: none;
}

.screen.hidden .deco-image {
  display: none;
}

#gab-container {
  display: none;
}
